# Зависимости
node_modules/
package-lock.json
yarn.lock

# Переменные окружения
.env

# Логи
*.log
npm-debug.log*

# Временные файлы
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
